## Module 4

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded and joined the data as "df" for you. Follow the instructions and finish the rest part.

In [1]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [2]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

df = pd.merge(left=df, right=df_countries, 
              how='inner', left_on='country_id', 
              right_on='id')

df = pd.merge(left=df, right=df_directors, 
              how='inner', left_on='director_id', 
              right_on='id')

print("Finished.")

Finished.

In [12]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""

# your code here
print(df.head())
df_imdb_gross = df[["imdb_score", "gross"]]
score_gross_description = df_imdb_gross.describe()
print(score_gross_description)

                movie_title  director_id  country_id content_rating  \
0  The Shawshank Redemption           34           1              R
1            The Green Mile           34           1              R
2             The Godfather           33           1              R
3    The Godfather: Part II           33           1              R
4            Apocalypse Now           33           1              R

   title_year  imdb_score      gross  duration  id_x country  id_y  \
0        1994         9.3   28341469       142     1     USA    34
1        1999         8.5  136801374       189     1     USA    34
2        1972         9.2  134821952       175     1     USA    33
3        1974         9.0   57300000       220     1     USA    33
4        1979         8.5   78800000       289     1     USA    33

          director_name
0        Frank Darabont
1        Frank Darabont
2  Francis Ford Coppola
3  Francis Ford Coppola
4  Francis Ford Coppola
       imdb_score         gross
count  178.000000  1.780000e+02
mean     8.294382  1.030402e+08
std      0.266960  1.242549e+08
min      8.000000  8.060000e+03
25%      8.100000  1.318510e+07
50%      8.200000  5.194371e+07
75%      8.475000  1.522436e+08
max      9.300000  6.232795e+08

In [11]:
assert_frame_equal(score_gross_description, sol.score_gross_description)
print("Success!")

Success!

In [22]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

# your code here
# filter only the director Christopher Nolan
df_nolan_imdb = df[df["director_name"] == "Christopher Nolan"]
print(df_nolan_imdb.describe())

# getting the mean of imdb_score
nolan_mean = df_nolan_imdb.describe(include='all').loc['mean']['imdb_score']

       director_id  country_id   title_year  imdb_score         gross  \
count          7.0         7.0     7.000000     7.00000  7.000000e+00
mean          16.0         1.0  2007.857143     8.60000  2.494235e+08
std            0.0         0.0     4.705620     0.23094  1.898840e+08
min           16.0         1.0  2000.000000     8.30000  2.553088e+07
25%           16.0         1.0  2005.500000     8.50000  1.205371e+08
50%           16.0         1.0  2008.000000     8.50000  2.053438e+08
75%           16.0         1.0  2011.000000     8.70000  3.703497e+08
max           16.0         1.0  2014.000000     9.00000  5.333161e+08

         duration  id_x  id_y
count    7.000000   7.0   7.0
mean   143.428571   1.0  16.0
std     20.476467   0.0   0.0
min    113.000000   1.0  16.0
25%    129.000000   1.0  16.0
50%    148.000000   1.0  16.0
75%    158.000000   1.0  16.0
max    169.000000   1.0  16.0

In [25]:
assert_equal(nolan_mean, sol.nolan_mean)

In [30]:
"""Q3: 
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""

# your code here
import numpy as np
# Create a series with each director's name and his or her average rating
directors = df.groupby("director_name")["imdb_score"].agg(np.mean)
print(directors)

# Print out the type of your variable.
print(type(directors))

# Print the value of the average rating for Steven Spielberg
print(directors["Steven Spielberg"])

director_name
Akira Kurosawa           8.70
Alejandro Amenabar       8.10
Alejandro G. Inarritu    8.10
Alfred Hitchcock         8.50
Andrew Stanton           8.30
                         ...
Victor Fleming           8.15
Vincent Paronnaud        8.00
Wes Anderson             8.10
Wolfgang Petersen        8.40
Woody Allen              8.10
Name: imdb_score, Length: 117, dtype: float64
<class 'pandas.core.series.Series'>
8.48

In [31]:
assert_series_equal(directors, sol.directors)
print("Success!")

Success!

In [39]:
"""Q4:
Select the non-USA movies made after 1960 by Hayao Miyazaki.
Save the result in a DataFrame called 'miyazaki', then print it.

Here are the steps:
1. Query the data ('df' DataFrame) based on the following conditions:
- Non-USA movies (country_id != 1)
- Movies made after 1960 (title_year > 1960)
- Movies made by director Hayao Miyazaki (director_id == 46)
2. Save the filtered data in a DataFrame called 'miyazaki' and print it

"""

# your code here
# Condition: non-USA movies, after 1960, by Hayao Miyazaki
non_US = df["country"] != "USA"
after_1960 = df["title_year"] > 1960
by_miyazaki = df["director_name"] == "Hayao Miyazaki"
miyazaki = df[non_US & after_1960 & by_miyazaki]
print(miyazaki)

              movie_title  director_id  country_id content_rating  title_year  \
152         Spirited Away           46           4             PG        2001
153     Princess Mononoke           46           4          PG-13        1997
154  Howl's Moving Castle           46           4             PG        2004

     imdb_score     gross  duration  id_x country  id_y   director_name
152         8.6  10049886       125     4   Japan    46  Hayao Miyazaki
153         8.4   2298191       134     4   Japan    46  Hayao Miyazaki
154         8.2   4710455       119     4   Japan    46  Hayao Miyazaki

In [40]:
assert_frame_equal(miyazaki, sol.miyazaki)
print("Success!")

Success!

In [50]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""

# your code here
pivot_agg = pd.pivot_table(
    df, index=["country", "director_name"],
    values=["imdb_score"],
    aggfunc=[np.median]
)
pivot_agg

                                      median
                                  imdb_score
country      director_name
Argentina    Juan Jose Campanella       8.20
Australia    George Miller              8.10
Brazil       Fernando Meirelles         8.70
             Jose Padilha               8.10
Canada       Denis Villeneuve           8.20
...                                      ...
USA          Tony Scott                 8.00
             Victor Fleming             8.15
             Wes Anderson               8.10
             Woody Allen                8.10
West Germany Wolfgang Petersen          8.40

[125 rows x 1 columns]

In [51]:
assert_frame_equal(pivot_agg, sol.pivot_agg)
print("Success!")

Success!

In [56]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

# your code here
df_gladiator = df[df["movie_title"] == "Gladiator"]
gladiator_duration = df_gladiator["duration"]

In [57]:
assert_series_equal(gladiator_duration, sol.gladiator_duration)
print("Success!")

Success!